/*.zip
/*.dll
/msbuild.bat
/plugin
/.settings
/.cproject
/.project
/images/resources
/vstudio/src/resource.h
/vstudio/*.sdf
/vstudio/*.sln
/vstudio/*.suo
/vstudio/bin/
/vstudio/bin64/
/vstudio/arm64/
/vstudio/debug_version/
/vstudio/src/PluginResources.aps
/vstudio/vs.proj/Debug
/vstudio/vs.proj/Release
/vstudio/vs.proj/x64
/vstudio/vs.proj/ARM64
/vstudio/.proj/NppPluginTemplate.opensdf
/vstudio/vs.proj/NppPluginTemplate.exp
/vstudio/vs.proj/NppPluginTemplate.lib
/vstudio/vs.proj/NppPluginTemplate.vcxproj.user
/vstudio/vs.proj/NppPluginTemplate.sdf
/vstudio/vs.proj/NppPluginTemplate.sln
/vstudio/vs.proj/NppPluginDemo.aps
/vstudio/vs.proj/DockingFeature/goLine.aps
/vstudio/vs.proj/.vs/
/vstudio/vs.proj/DiscordRPC.exp
/vstudio/vs.proj/DiscordRPC.lib
/vstudio/*.aps
/vstudio/*.zip
/vstudio/discord_game_sdk/aarch64/
/vstudio/discord_game_sdk/x86_64/discord_game_sdk.bundle
/vstudio/discord_game_sdk/x86_64/discord_game_sdk.so
/vstudio/discord_game_sdk/x86_64/discord_game_sdk.dylib
/Debug/
