// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <winres.h>
#include <commctrl.h>
#ifndef LWS_RIGHT
#define LWS_RIGHT 0x0002
#endif
/////////////////////////////////////////////////////////////////////////////
// Spanish (Venezuela) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ESV)
LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_VENEZUELA

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PLUGIN_OPTIONS DIALOGEX 0, 0, 283, 284
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE | WS_EX_CONTROLPARENT
CAPTION "Discord RPC"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,188,266,41,14
    DEFPUSHBUTTON   "Accept",IDOK,234,266,45,14
    PUSHBUTTON      "Reset",IDC_RESET,4,266,42,14
    CONTROL         "<a href=""https://github.com/Zukaritasu/notepadpp_rpc/blob/main/DOCUMENTATION_SETTINGS.md"">Help</a>",IDC_DOC_HELP,"SysLink",WS_TABSTOP,52,268,60,12
    LTEXT           "Custom Application id:",0,10,16,72,8
    EDITTEXT        IDC_EDIT_CID,95,15,178,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Enable rich presence",IDC_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,165,116,10
    CONTROL         "Hide details",IDC_HIDE_DETAILS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,144,165,124,10
    CONTROL         "Show language icon",IDC_SHOW_LANGICON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,183,115,10
    CONTROL         "Hide state",IDC_HIDE_STATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,201,116,10
    GROUPBOX        "",IDC_GROUD_ID,4,4,275,46
    GROUPBOX        "",IDC_GROUD_ID,4,155,275,84
    GROUPBOX        "",IDC_GROUD_ID,4,52,275,101
    EDITTEXT        IDC_DETAILS,95,96,178,13,ES_AUTOHSCROLL
    LTEXT           "Details:",IDC_GROUD_ID,10,97,25,8
    COMBOBOX        IDC_VARIABLES,95,65,178,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Variables:",IDC_GROUD_ID,10,66,32,8
    EDITTEXT        IDC_STATE,95,115,178,13,ES_AUTOHSCROLL
    LTEXT           "State:",IDC_GROUD_ID,10,117,21,8
    EDITTEXT        IDC_LARGETEXT,95,134,178,13,ES_AUTOHSCROLL
    LTEXT           "Large text:",IDC_GROUD_ID,10,136,50,8
    LTEXT           "",IDC_GROUD_ID,10,84,264,1,SS_SUNKEN
    CONTROL         "<a href=""https://discord.com/developers/applications"">Create Discord Application</a>",IDC_CREATEAPP,"SysLink",LWS_RIGHT | WS_TABSTOP,95,33,178,12,WS_EX_RIGHT
    CONTROL         "Button view repository ",IDC_OPEN_REPOSITORY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,144,201,124,10
    CONTROL         "Hide private files",IDC_HIDE_PRIVATE_FILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,144,182,124,10
    CONTROL         "Hide idle status",IDC_HIDE_IDLE_STATUS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,220,116,10
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,1,711,1
 PRODUCTVERSION 2,1,711,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Zukaritasu"
            VALUE "FileDescription", "Discord Rich Presence"
            VALUE "FileVersion", "2.1.711.1"
            VALUE "InternalName", "DiscordRPC.dll"
            VALUE "LegalCopyright", "Copyright (c) 2023 - 2026 Zukaritasu"
            VALUE "OriginalFilename", "DiscordRPC.dll"
            VALUE "ProductName", "DiscordRPC"
            VALUE "ProductVersion", "2.1.711.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_PLUGIN_OPTIONS, DIALOG
    BEGIN
        BOTTOMMARGIN, 260
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT (MSVC only; windres does not support this)
//

#ifdef _MSC_VER
IDD_PLUGIN_OPTIONS AFX_DIALOG_LAYOUT
BEGIN
    0
END
#endif


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_ENABLERPC           "Enable or disable rich presence in discord"
    IDS_CLIENTID            "The discord application ID. The length of the ID must be 17-19 digits and must not contain letters or any other character that is not a number."
    IDS_HIDE_STATE          "Hide state of the file being edited"
    IDS_HIDE_DETAILS        "Hide details of the file being edited"
    IDS_SHOWLANGICON        "Shows the icon of the programming language that is being applied to the file that is being edited"
    IDS_SHOWELAPSEDTIME     "Enable or disable the option to display the elapsed time"
    IDS_OPENREPOSITORY      "Enable a button that redirects the user to the remote repository"
    IDS_BTNRESET            "Assign all default values including application id. Press accept to save the changes"
    IDS_ALLVARIABLESTIP     "All variables for details and state"
    IDS_DETAILSTIP          "File details in the rich presence"
    IDS_STATETIP            "State of the file in the rich presence"
END

STRINGTABLE
BEGIN
    IDS_CREATEAPPTIP        "https://discord.com/developers/applications"
    IDS_ANCIICHARS          "Format can only contain ANSI and Extended ANSI characters"
    IDS_INVALIDID           "The ID entered is invalid. The ID must be 17-19 digits"
    IDS_LARGETEXTTIP        "Extra info file details in the rich presence"
    IDS_DOC_HELP            "https://github.com/Zukaritasu/notepadpp_rpc/blob/main/DOCUMENTATION.md"
    IDS_HIDE_PRIVATE_FILES  "Hide private files from a workspace based on gitignore file"
    IDS_HIDE_IDLE_STATUS    "Hide the idle status after a certain amount of time has passed"
END

#endif    // Spanish (Venezuela) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
