name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      max-parallel: 6
      matrix:
        build_configuration: [Release, Debug]
        
        include:
          - build_platform: x64
            vcpkg_triplet: x64-windows
          - build_platform: Win32
            vcpkg_triplet: x86-windows
          - build_platform: ARM64
            vcpkg_triplet: arm64-windows

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5

    - name: Setup vcpkg Tool
      uses: lukka/run-vcpkg@v11.5
      with:
        vcpkgGitCommitId: 'f5cbc726b123896eef77f5acc1b9047a28a0731e' 
        vcpkgDirectory: ${{ github.workspace }}/vcpkg-root
        runVcpkgInstall: false 

    - name: Install yaml-cpp Package
      run: |
        $VCPKG = "${{ github.workspace }}\vcpkg-root"
        & "$VCPKG\vcpkg.exe" install "yaml-cpp:${{ matrix.vcpkg_triplet }}"
      shell: powershell

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: MSBuild of plugin dll
      working-directory: vstudio\vs.proj\
      run: msbuild DiscordRPC.vcxproj /m /p:Configuration="${{ matrix.build_configuration }}" /p:Platform="${{ matrix.build_platform }}" /p:PlatformToolset="v143" /p:VCPKG="${{ github.workspace }}\vcpkg-root"

    #
    - name: Archive artifacts for x64
      if: matrix.build_platform == 'x64' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v6
      with:
          name: DiscordRPC_x64
          path: vstudio\bin64\DiscordRPC.dll

    - name: Archive artifacts for Debug x64
      if: matrix.build_platform == 'x64' && matrix.build_configuration == 'Debug'
      uses: actions/upload-artifact@v6
      with:
          name: DiscordRPC_Debug_x64
          path: vstudio\bin64\debug\DiscordRPC.dll

    #
    - name: Archive artifacts for Win32
      if: matrix.build_platform == 'Win32' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v6
      with:
          name: DiscordRPC_x86
          path: vstudio\bin\DiscordRPC.dll

    - name: Archive artifacts for Debug Win32
      if: matrix.build_platform == 'Win32' && matrix.build_configuration == 'Debug'
      uses: actions/upload-artifact@v6
      with:
          name: DiscordRPC_Debug_x86
          path: vstudio\bin\debug\DiscordRPC.dll

    - name: Archive artifacts for ARM64
      if: matrix.build_platform == 'ARM64' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v6
      with:
          name: DiscordRPC_ARM64
          path: vstudio\bin64\arm64\DiscordRPC.dll

    - name: Archive artifacts for Debug ARM64
      if: matrix.build_platform == 'ARM64' && matrix.build_configuration == 'Debug'
      uses: actions/upload-artifact@v6
      with:
          name: DiscordRPC_Debug_ARM64
          path: vstudio\bin64\arm64\debug\DiscordRPC.dll